*.csr
*.iml
*.jar
*.log
*.pyc
*.req
*.srl
*cache*
*ipynb*
.DS_Store
.idea
.idea
.python-version
.vscode/*
__pycache__
docs/_build
docs/README.md
in
java/.classpath
java/.project
java/.settings/
kubeconfig
local.make
out
target
temp
Untitled*
venv
