*.csr
*.egg-info/
*.iml
*.jar
*.log
*.pyc
*.req
*.srl
*.whl
*cache*
*ipynb*
.DS_Store
.idea
.idea
.python-version
.vscode/*
__pycache__
build
dist
docs/_build
docs/README.md
env
in
java/.classpath
java/.project
java/.settings/
kubeconfig
local.make
out
target
temp
Untitled*
venv
