exclude: '^alpine-packages/.*$'
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-yaml
      - id: end-of-file-fixer
      - id: file-contents-sorter
        args: ["--ignore-case"]
        files: '^.gitignore$'
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: circle-config-yaml
        name: Checks for consistency between config.yml and config.yml.j2
        language: python
        files: "config.yml$|config.yml.j2|generate_circleci_config.py$"
        entry: .circleci/generate_circleci_config.py
        additional_dependencies: ['jinja2']
