version: 2.1

workflows:
  certified-airflow:
    jobs:
      - static-checks
{%- for ac_version, distributions in image_map.items() %}
{%- set airflow_version = ac_version | get_airflow_version -%}
{%- set dev_build = "true" if "dev" in ac_version else "false" %}
      - slack/on-hold:
          name: Slack_Notification-{{ airflow_version }}
          context: slack_ap-airflow
          custom: |
            {
                "blocks": [
                  {
                    "type": "header",
                    "text": {
                      "type": "plain_text",
                      "text": "$CIRCLE_JOB On Hold- Awaiting Approval :raised_hand:",
                      "emoji": true
                    }
                  },
                  {
                    "type": "section",
                    "fields": [
                      {
                        "type": "mrkdwn",
                        "text": "*Project*:$CIRCLE_PROJECT_REPONAME"
                      },
                      {
                        "type": "mrkdwn",
                        "text": "*Branch*:$CIRCLE_BRANCH"
                      },
                      {
                        "type": "mrkdwn",
                        "text": "*Author*:$CIRCLE_USERNAME"
                      },
                      {
                        "type": "mrkdwn",
                        "text": "*Pull Request*:$CIRCLE_PULL_REQUEST"
                      }

                    ]
                  },
                  {
                    "type": "section",
                    "fields": [
                      {
                        "type": "mrkdwn",
                        "text": "*Mentions*:<@UHRPL613K>,<@U018NSS9G2Y>"
                      }
                    ]
                  },
                  {
                    "type": "actions",
                    "elements": [
                      {
                        "type": "button",
                        "text": {
                          "type": "plain_text",
                          "text": "View Workflow"
                        },
                        "url": "https://circleci.com/workflow-run/${CIRCLE_WORKFLOW_ID}"
                      }
                    ]
                  }
                ]
              }
          requires:
            - static-checks
          filters:
            branches:
              only:
                - master
      - pause_workflow:
          name: Need-Approval-{{ airflow_version }}
          requires:
            - Slack_Notification-{{ airflow_version }}
          type: approval
          filters:
            branches:
              only:
                - master
{% for distribution in distributions %}
      - build:
          name: build-{{ airflow_version }}-{{ distribution }}
          airflow_version: {{ airflow_version }}
          distribution_name: {{ distribution }}
          dev_build: {{ dev_build }}
          {%- if "dev" in ac_version and airflow_version not in dev_allowlist %}
          extra_args: "--build-arg VERSION=$(curl https://pip.astronomer.io/simple/astronomer-certified/latest-{{ airflow_version | replace('.dev', '') }}.build)"
          {%- endif %}
          requires:
            - Need-Approval-{{ airflow_version }}
      - scan-clair:
          name: scan-clair-{{ airflow_version }}-{{ distribution }}-onbuild
          airflow_version: {{ airflow_version }}
          distribution_name: {{ distribution }}-onbuild
          requires:
            - build-{{ airflow_version }}-{{ distribution }}
      - scan-trivy:
          name: scan-trivy-{{ airflow_version }}-{{ distribution }}-onbuild
          airflow_version: {{ airflow_version }}
          distribution: {{ distribution }}
          distribution_name: {{ distribution }}-onbuild
          requires:
            - build-{{ airflow_version }}-{{ distribution }}
      - test:
          name: test-{{ airflow_version }}-{{ distribution }}-images
          tag: "{{ airflow_version }}-{{ distribution }}"
          requires:
            - build-{{ airflow_version }}-{{ distribution }}
      - push:
          name: push-{{ airflow_version }}-{{ distribution }}
          tag: "{{ airflow_version }}-{{ distribution }}"
          dev_build: {{ dev_build }}
          extra_tags: "{{ airflow_version }}-{{ distribution }}-${CIRCLE_BUILD_NUM},{{ ac_version }}-{{ distribution }}"
          context:
            - quay.io
          requires:
            - scan-clair-{{ airflow_version }}-{{ distribution }}-onbuild
            - scan-trivy-{{ airflow_version }}-{{ distribution }}-onbuild
            - test-{{ airflow_version }}-{{ distribution }}-images
          filters:
            branches:
              only:
                - master
      - push:
          name: push-{{ airflow_version }}-{{ distribution }}-onbuild
          tag: "{{ airflow_version }}-{{ distribution }}-onbuild"
          dev_build: {{ dev_build }}
          extra_tags: "{{ airflow_version }}-{{ distribution }}-onbuild-${CIRCLE_BUILD_NUM},{{ ac_version }}-{{ distribution }}-onbuild"
          context:
            - quay.io
          requires:
            - scan-clair-{{ airflow_version }}-{{ distribution }}-onbuild
            - scan-trivy-{{ airflow_version }}-{{ distribution }}-onbuild
            - test-{{ airflow_version }}-{{ distribution }}-images
          filters:
            branches:
              only:
                - master
                - slack-build-approvals
{%- endfor %}
{%- endfor %}
{%- if image_map.keys() | dev_releases | length > 0 %}
  nightly:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
{%- for ac_version, distributions in image_map.items() %}
{%- set airflow_version = ac_version | get_airflow_version %}
{%- if "dev" in ac_version and airflow_version not in dev_allowlist  %}
{%- for distribution in distributions %}
      - build:
          name: build-{{ airflow_version }}-{{ distribution }}
          airflow_version: {{ airflow_version }}
          distribution_name: {{ distribution }}
          dev_build: true
          extra_args: "--build-arg VERSION=$(curl https://pip.astronomer.io/simple/astronomer-certified/latest-{{ airflow_version | replace('.dev', '') }}.build)"
      - scan-clair:
          name: scan-clair-{{ airflow_version }}-{{ distribution }}-onbuild
          airflow_version: {{ airflow_version }}
          distribution_name: {{ distribution }}-onbuild
          requires:
            - build-{{ airflow_version }}-{{ distribution }}
      - scan-trivy:
          name: scan-trivy-{{ airflow_version }}-{{ distribution }}-onbuild
          airflow_version: {{ airflow_version }}
          distribution: {{ distribution }}
          distribution_name: {{ distribution }}-onbuild
          requires:
            - build-{{ airflow_version }}-{{ distribution }}
      - test:
          name: test-{{ airflow_version }}-{{ distribution }}-images
          tag: "{{ airflow_version }}-{{ distribution }}"
          requires:
            - build-{{ airflow_version }}-{{ distribution }}
      - push:
          name: push-{{ airflow_version }}-{{ distribution }}
          tag: "{{ airflow_version }}-{{ distribution }}"
          dev_build: true
          extra_tags: "{{ airflow_version }}-{{ distribution }}-${CIRCLE_BUILD_NUM}"
          context:
            - quay.io
          requires:
            - scan-clair-{{ airflow_version }}-{{ distribution }}-onbuild
            - scan-trivy-{{ airflow_version }}-{{ distribution }}-onbuild
            - test-{{ airflow_version }}-{{ distribution }}-images
          filters:
            branches:
              only:
                - master
      - push:
          name: push-{{ airflow_version }}-{{ distribution }}-onbuild
          tag: "{{ airflow_version }}-{{ distribution }}-onbuild"
          dev_build: true
          extra_tags: "{{ airflow_version }}-{{ distribution }}-onbuild-${CIRCLE_BUILD_NUM},{{ ac_version }}-{{ distribution }}-onbuild"
          context:
            - quay.io
          requires:
            - scan-clair-{{ airflow_version }}-{{ distribution }}-onbuild
            - scan-trivy-{{ airflow_version }}-{{ distribution }}-onbuild
            - test-{{ airflow_version }}-{{ distribution }}-images
          filters:
            branches:
              only:
                - master
{%- endfor %}
{%- endif %}
{%- endfor %}
{% endif %}
jobs:
  static-checks:
    executor: machine-executor
    description: Static Checks
    steps:
      - checkout
      - run:
          name: Load archived Docker image
          command: |
            pyenv global 3.8.5
            pip install -r .circleci/test-requirements.txt
            pre-commit run --all-files || { git --no-pager diff && false ; }
  build:
    executor: docker-executor
    description: Build Airflow images
    parameters:
      airflow_version:
        description: "The Airflow version, for example '1.10.5'"
        type: string
      distribution_name:
        description: "The base distribution of the container"
        type: string
      dev_build:
        description: "Indicate if this is a dev build"
        type: boolean
      extra_args:
        description: "Extra args to pass to pass to Docker build command"
        default: ""
        type: string
    steps:
      - docker-build-base-and-onbuild:
          airflow_version: "<< parameters.airflow_version >>"
          distribution_name: "<< parameters.distribution_name >>"
          extra_args: "<< parameters.extra_args >>"
  test:
    executor: machine-executor
    description: Test Airflow images
    parameters:
      tag:
        type: string
    steps:
      - airflow-image-test:
          tag: "<< parameters.tag >>"
  scan-clair:
    executor: clair-scanner/default
    description: Test Airflow images
    parameters:
      airflow_version:
        description: "The Airflow version, for example '1.10.5'"
        type: string
      distribution_name:
        description: "The base distribution of the container"
        type: string
    steps:
      - clair-scan:
          image_name: "ap-airflow:<< parameters.airflow_version >>-<< parameters.distribution_name >>"
  scan-trivy:
    docker:
      - image: docker:18.09-git
    description: "Trivy: Vulnerability scanner a Docker image"
    parameters:
      airflow_version:
        description: "The Airflow version, for example '1.10.5'"
        type: string
      distribution_name:
        description: "The base distribution of the container"
        type: string
      distribution:
        description: "The distribution without onbuild"
        type: string
    steps:
      - checkout
      - setup_remote_docker
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: Load archived Docker image
          command: docker load -i /tmp/workspace/saved-images/ap-airflow:<< parameters.airflow_version >>-<< parameters.distribution_name >>.tar
      - run:
          name: Install trivy
          command: |
            apk add --update-cache --upgrade curl rpm
            curl -sfL https://raw.githubusercontent.com/aquasecurity/trivy/master/contrib/install.sh | sh -s -- -b /usr/local/bin
      - restore_cache:
          keys:
            - trivy-cache
      - run:
          name: Scan the local image with trivy
          command: |
            trivy \
              --ignorefile "./<< parameters.airflow_version >>/<< parameters.distribution >>/trivyignore" \
              --cache-dir /tmp/workspace/trivy-cache \
              --ignore-unfixed -s HIGH,CRITICAL \
              --exit-code 1 \
              --no-progress "ap-airflow:<< parameters.airflow_version >>-<< parameters.distribution_name >>"
      - save_cache:
          key: trivy-cache
          paths:
            - /tmp/workspace/trivy-cache
  push:
    executor: docker-executor
    description: Push Airflow images
    parameters:
      dev_build:
        description: "Indicate if this is a dev build"
        type: boolean
      tag:
        type: string
      extra_tags:
        type: string
        default: ""
      prod_docker_repo_docker_hub:
        description: "The docker repo to tag and push to, for example 'quay.io/astronomer/ap-airflow'"
        default: "astronomerinc/ap-airflow"
        type: string
      prod_docker_repo_quay_io:
        description: "The docker repo to tag and push to, for example 'quay.io/astronomer/ap-airflow'"
        default: "quay.io/astronomer/ap-airflow"
        type: string
      dev_docker_repo_quay_io:
        description: "The docker repo to tag and push to, for example 'quay.io/astronomer/ap-airflow'"
        default: "quay.io/astronomer/ap-airflow-dev"
        type: string
    steps:
      - push:
          dev_release: "<< parameters.dev_build >>"
          extra_tags: "<< parameters.extra_tags >>"
          tag: "<< parameters.tag >>"
          prod_docker_repo_docker_hub: "<< parameters.prod_docker_repo_docker_hub >>"
          prod_docker_repo_quay_io: "<< parameters.prod_docker_repo_quay_io >>"
          dev_docker_repo_quay_io: "<< parameters.dev_docker_repo_quay_io >>"

orbs:
  slack: circleci/slack@4.2.0
  clair-scanner: ovotech/clair-scanner@1.6.0
executors:
  docker-executor:
    docker:
      - image: circleci/python:3
  machine-executor:
    machine:
      image: ubuntu-2004:202008-01

commands:
  docker-build-base-and-onbuild:
    description: "Build Airflow images to use with the Astronomer platform"
    parameters:
      airflow_version:
        type: string
        default: 1.10.5
      distribution_name:
        type: string
        default: alpine
      extra_args:
        description: "Extra args to pass to pass to Docker build command"
        default: ""
        type: string
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - docker-build:
          image_name: "ap-airflow:<< parameters.airflow_version >>-<< parameters.distribution_name >>"
          path: "<< parameters.airflow_version >>/<< parameters.distribution_name >>"
          extra_args: "<< parameters.extra_args >>"
      - docker-build:
          image_name: "ap-airflow:<< parameters.airflow_version >>-<< parameters.distribution_name >>-onbuild"
          path: "common/"
          dockerfile: "Dockerfile.onbuild-<< parameters.distribution_name >>"
          extra_args: "--build-arg baseimage=ap-airflow:<< parameters.airflow_version >>-<< parameters.distribution_name >>"
      - persist_to_workspace:
          root: .
          paths:
            - saved-images/
  docker-build:
    description: "Build a Docker image"
    parameters:
      dockerfile:
        type: string
        default: Dockerfile
      path:
        type: string
        default: "."
      image_name:
        type: string
        default: $CIRCLE_PROJECT_REPONAME
      extra_args:
        type: string
        default: ""
    steps:
      - run:
          name: Build the Docker image
          command: |
            set -xe
            mkdir -p saved-images/"$(dirname '<< parameters.image_name >>')"
            docker build \
              --tag '<< parameters.image_name >>' \
              --label io.astronomer.docker.build_time="$(date +%s)" \
              --label io.astronomer.repo.commit_sha="${CIRCLE_SHA1}" \
              --label io.astronomer.repo.url="${CIRCLE_REPOSITORY_URL}" \
              --label io.astronomer.ci.build_url="${CIRCLE_BUILD_URL}" \
              --file '<< parameters.path>>/<< parameters.dockerfile >>' \
              --build-arg "BUILD_NUMBER=${CIRCLE_BUILD_NUM}" \
              --build-arg "REPO_BRANCH=${CIRCLE_BRANCH}" \
              << parameters.extra_args >> '<< parameters.path >>'
            docker save -o saved-images/<< parameters.image_name >>.tar '<< parameters.image_name >>'
  airflow-image-test:
    description: Test an Airflow image
    parameters:
      tag:
        type: string
    steps:
      - checkout
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: Load archived Airflow Docker image
          command: |
            docker load -i /tmp/workspace/saved-images/ap-airflow:<< parameters.tag >>.tar
            docker load -i /tmp/workspace/saved-images/ap-airflow:<< parameters.tag >>-onbuild.tar
      - run:
          name: Test Airflow Docker images (Base + Onbuild)
          command: |
            set -e
            pyenv global 3.8.5
            pip install -r .circleci/test-requirements.txt
            .circleci/bin/test-airflow 'ap-airflow' '<< parameters.tag >>'
      - store_test_results:
          path: /tmp/test-reports
  push:
    description: "Push a Docker image to DockerHub"
    parameters:
      dev_release:
        description: "Indicate if this is a dev release"
        default: true
        type: boolean
      extra_tags:
        type: string
        default: ""
      tag:
        type: string
      image_name:
        default: ap-airflow
        type: string
      prod_docker_repo_docker_hub:
        default: astronomerinc/ap-airflow
        type: string
      prod_docker_repo_quay_io:
        default: quay.io/astronomer/ap-airflow
        type: string
      dev_docker_repo_quay_io:
        default: "quay.io/astronomer/ap-airflow-dev"
        type: string
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - setup_remote_docker
      - run:
          name: Load archived Docker image
          command: docker load -i '/tmp/workspace/saved-images/ap-airflow:<< parameters.tag >>.tar'
      - run:
          name: Login to DockerHub
          command: echo "$DOCKER_PASSWORD" | docker login --username "$DOCKER_USERNAME" --password-stdin docker.io
      - run:
          name: Login to Quay.io
          command: echo "$QUAY_PASSWORD" | docker login --username "$QUAY_USERNAME" --password-stdin quay.io
      - run:
          name: Push Docker image(s)
          command: |
            set -e
            image="ap-airflow:<< parameters.tag >>"
            set -x
            export NEW_POINT_RELEASE=true
            for tag in $(echo "<< parameters.extra_tags >>" | sed "s/,/ /g");
            do
              if DOCKER_CLI_EXPERIMENTAL=enabled docker manifest inspect "<< parameters.prod_docker_repo_docker_hub >>:$tag" >/dev/null 2>&1; then
                echo "Image with Tag ("<< parameters.prod_docker_repo_docker_hub >>:$tag") already exists"
                export NEW_POINT_RELEASE=false
              elif [[ "$tag" == "<< parameters.tag >>-$CIRCLE_BUILD_NUM" ]] || <<parameters.dev_release >> ; then
                echo "Tagging and pushing image <<parameters.image_name>>:$tag to << parameters.dev_docker_repo_quay_io >>"
                docker tag "$image" "<< parameters.dev_docker_repo_quay_io >>:${tag}"
                docker push "<< parameters.dev_docker_repo_quay_io >>:${tag}"

              else
                echo "Tagging and pushing image <<parameters.image_name>>:$tag to << parameters.prod_docker_repo_quay_io >>"
                docker tag "$image" "<< parameters.prod_docker_repo_quay_io >>:${tag}"
                docker push "<< parameters.prod_docker_repo_quay_io >>:${tag}"

                echo "Tagging and pushing image <<parameters.image_name>>:$tag to << parameters.prod_docker_repo_docker_hub >>"
                docker tag "$image" "<< parameters.prod_docker_repo_docker_hub >>:${tag}"
                docker push "<< parameters.prod_docker_repo_docker_hub >>:${tag}"

                echo "Tagging and pushing image <<parameters.image_name>>:$tag to << parameters.dev_docker_repo_quay_io >>"
                docker tag "$image" "<< parameters.dev_docker_repo_quay_io >>:${tag}"
                docker push "<< parameters.dev_docker_repo_quay_io >>:${tag}"

              fi
            done

            # The following code block publishes Moving Master builds (e.g. 1.10.13-buster-onbuild)
            # as compared to above code-blocks that publish images with build-number & immutable tag
            # e.g (e.g. 1.10.13-1-buster-onbuild and 1.10.13-buster-onbuild-24119)
            if $NEW_POINT_RELEASE ; then
              if ! <<parameters.dev_release >> ; then
                # If it is not a Dev Release publish the image to Prod Repos
                echo "Tagging and pushing image <<parameters.image_name>>:<< parameters.tag >> to << parameters.prod_docker_repo_quay_io >>"
                docker tag "$image" "<< parameters.prod_docker_repo_quay_io >>:<< parameters.tag >>"
                docker push "<< parameters.prod_docker_repo_quay_io >>:<< parameters.tag >>"

                echo "Tagging and pushing image <<parameters.image_name>>:<< parameters.tag >> to << parameters.prod_docker_repo_docker_hub >>"
                docker tag "$image" "<< parameters.prod_docker_repo_docker_hub >>:<< parameters.tag >>"
                docker push "<< parameters.prod_docker_repo_docker_hub >>:<< parameters.tag >>"
              fi

              echo "Tagging and pushing image <<parameters.image_name>>:<< parameters.tag >> to << parameters.dev_docker_repo_quay_io >>"
              docker tag "$image" "<< parameters.dev_docker_repo_quay_io >>:<< parameters.tag >>"
              docker push "<< parameters.dev_docker_repo_quay_io >>:<< parameters.tag >>"
            else
              echo "Image with Tag ($image) not pushed as it is not a new point release"
            fi
            set +x
  clair-scan:
    description: "Vulnerability scan a Docker image"
    parameters:
      image_name:
        type: string
        default: $CIRCLE_PROJECT_REPONAME
      allowlist:
        type: string
        default: cve-allowlist.yaml
    steps:
      - checkout
      - setup_remote_docker
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: Load archived Docker image
          command: docker load -i /tmp/workspace/saved-images/<< parameters.image_name >>.tar
      - modified-orb:
          allowlist: "<< parameters.allowlist >>"
          image: "<< parameters.image_name >>"
  # TODO: move to an Astronomer orbs repo, push orb.
  # This is to work around an issue in the provided orb https://github.com/ovotech/circleci-orbs/issues/89.
  modified-orb:
    description: "Scan an image for vulnerabilities"
    parameters:
      image:
        type: "string"
        description: "Name of the image to scan"
        default: ""
      image_file:
        type: "string"
        description: "Path to a file of images to scan"
        default: ""
      allowlist:
        type: "string"
        description: "Path to a CVE allowlist"
        default: ""
      severity_threshold:
        type: "string"
        description: "The threshold (equal and above) at which discovered vulnerabilities are reported. May be 'Defcon1', 'Critical', 'High', 'Medium', 'Low', 'Negligible' or 'Unknown'"
        default: "High"
      fail_on_discovered_vulnerabilities:
        type: "boolean"
        description: "Fail command when vulnerabilities at severity equal to or above the threshold are discovered"
        default: true
      fail_on_unsupported_images:
        type: "boolean"
        description: "Fail command when image cannot be scanned for vulnerabilities"
        default: true
      disable_verbose_console_output:
        type: "boolean"
        description: "Disable verbose console output"
        default: false
      docker_tar_dir:
        type: "string"
        description: "Path of directory that Docker tarballs are stored"
        default: "/docker-tars"
    steps:
      - run:
          name: "Vulnerability scan"
          command: |
            #!/usr/bin/env bash

            set -xe

            DOCKER_TAR_DIR="<< parameters.docker_tar_dir >>"

            if [ -z "<< parameters.image_file >><< parameters.image >>" ] && [ -z "$(ls -A "$DOCKER_TAR_DIR" 2>/dev/null)" ]; then
                echo "image_file or image parameters or docker tarballs must be present"
                exit 255
            fi

            REPORT_DIR=/clair-reports
            mkdir $REPORT_DIR

            DB=$(docker run -p 5432:5432 -d arminc/clair-db:latest)
            CLAIR=$(docker run -p 6060:6060 --link "$DB":postgres -d arminc/clair-local-scan:latest)
            CLAIR_SCANNER=$(docker run -v /var/run/docker.sock:/var/run/docker.sock -d ovotech/clair-scanner@sha256:8a4f920b4e7e40dbcec4a6168263d45d3385f2970ee33e5135dd0e3b75d39c75 tail -f /dev/null)

            clair_ip=$(docker exec -it "$CLAIR" hostname -i | grep -oE '[0-9]+\.[0-9]+\.[0-9]+\.[0-9]+')
            scanner_ip=$(docker exec -it "$CLAIR_SCANNER" hostname -i | grep -oE '[0-9]+\.[0-9]+\.[0-9]+\.[0-9]+')

            if [ -n "<< parameters.allowlist >>" ]; then
                cat "<< parameters.allowlist >>"
                docker cp "<< parameters.allowlist >>" "$CLAIR_SCANNER:/allowlist.yml"

                allowlist="-w /allowlist.yml"
            fi

            function scan() {
                local image=$1
                # replace forward-slashes and colons with underscores
                munged_image=$(echo "$image" | sed 's/\//_/g' | sed 's/:/_/g')
                sanitised_image_filename="${munged_image}.json"
                local ret=0
                local docker_cmd=(docker exec -it "$CLAIR_SCANNER" clair-scanner \
                    --ip "$scanner_ip" \
                    --clair=http://"$clair_ip":6060 \
                    -t "<< parameters.severity_threshold >>" \
                    --report "/$sanitised_image_filename" \
                    --log "/log.json" \
                    --whitelist /allowlist.yml \
                    --reportAll=true \
                    --exit-when-no-features=false \
                    "$image")

                # if verbose output is disabled, analyse status code for more fine-grained output
                if [ "<< parameters.disable_verbose_console_output >>" == "true" ];then
                    "${docker_cmd[@]}" > /dev/null 2>&1 || ret=$?
                else
                    "${docker_cmd[@]}" 2>&1 || ret=$?
                fi
                if [ "$ret" -eq 0 ]; then
                    echo "No unapproved vulnerabilities"
                elif [ "$ret" -eq 1 ]; then
                    echo "Unapproved vulnerabilities found"
                    if [ "<< parameters.fail_on_discovered_vulnerabilities >>" == "true" ];then
                        EXIT_STATUS=1
                    fi
                elif [ "$ret" -eq 5 ]; then
                    echo "Image was not scanned, not supported."
                    if [ "<< parameters.fail_on_unsupported_images >>" == "true" ];then
                        EXIT_STATUS=1
                    fi
                else
                    echo "Unknown clair-scanner return code $ret."
                    EXIT_STATUS=1
                fi

                docker cp "$CLAIR_SCANNER:/$sanitised_image_filename" "$REPORT_DIR/$sanitised_image_filename" || true
            }

            EXIT_STATUS=0

            for entry in "$DOCKER_TAR_DIR"/*.tar; do
                [ -e "$entry" ] || continue
                images=$(docker load -i "$entry" | sed -e 's/Loaded image: //g')
                for image in $images; do
                    scan "$image"
                done
            done

            if [ -n "<< parameters.image_file >>" ]; then
                images=$(cat "<< parameters.image_file >>")
                for image in $images; do
                    scan "$image"
                done
            fi
            if [ -n "<< parameters.image >>" ]; then
                image="<< parameters.image >>"
                scan "$image"
            fi

            exit $EXIT_STATUS
      - store_artifacts:
          path: /clair-reports
