version: 2.1
jobs:
  #
  # Alpine
  #

  # Build Alpine Images
  build-alpine:
    executor: docker-executor
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - docker-build:
          image_name: ap-airflow-alpine
          path: 1.10.5/alpine3.10
      - run:
          name: "Tag image"
          command: docker tag ap-airflow-alpine astronomerinc/ap-airflow:1.10.5-alpine3.10
      - docker-build:
          image_name: ap-airflow-alpine-onbuild
          path: 1.10.5/alpine3.10/onbuild
  test-alpine:
    executor: docker-executor
    steps:
      - airflow-image-test:
          image_name: ap-airflow-alpine
  test-alpine-onbuild:
    executor: docker-executor
    steps:
      - airflow-image-test:
          image_name: ap-airflow-alpine-onbuild
  # Scan Alpine Images
  scan-alpine:
    executor: clair-scanner/default
    steps:
      - clair-scan:
          image_name: ap-airflow-alpine
  scan-alpine-onbuild:
    executor: clair-scanner/default
    steps:
      - clair-scan:
          image_name: ap-airflow-alpine-onbuild

  # Publish Alpine Images
  publish-prod-alpine:
    executor: docker-executor
    steps:
      - push:
          comma_separated_tags: "1.10.5-alpine3.10,1.10.5-alpine,1.10.5,latest"
          image_name_load: ap-airflow-alpine
          image_repo: ap-airflow
  publish-prod-alpine-onbuild:
    executor: docker-executor
    steps:
      - push:
          comma_separated_tags: "1.10.5-alpine3.10-onbuild,1.10.5-alpine-onbuild,1.10.5-onbuild,latest-onbuild"
          image_name_load: ap-airflow-alpine-onbuild
          image_repo: ap-airflow

  #
  # Debian
  #
  # Build Debian Images
  build-buster:
    executor: docker-executor
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - docker-build:
          image_name: ap-airflow-buster
          path: 1.10.5/buster
      - run:
          name: "Tag image"
          command: docker tag ap-airflow-buster astronomerinc/ap-airflow:1.10.5-buster
      - docker-build:
          image_name: ap-airflow-buster-onbuild
          path: 1.10.5/buster/onbuild
  test-buster:
    executor: docker-executor
    steps:
      - airflow-image-test:
          image_name: ap-airflow-buster
  test-buster-onbuild:
    executor: docker-executor
    steps:
      - airflow-image-test:
          image_name: ap-airflow-buster-onbuild
  # Scan Debian Images
  scan-buster:
    executor: clair-scanner/default
    steps:
      - clair-scan:
          image_name: ap-airflow-buster
  scan-buster-onbuild:
    executor: clair-scanner/default
    steps:
      - clair-scan:
          image_name: ap-airflow-buster-onbuild

  # Publish Debian Images
  publish-prod-buster:
    executor: docker-executor
    steps:
      - push:
          comma_separated_tags: "1.10.5-buster"
          image_name_load: ap-airflow-buster
          image_repo: ap-airflow
  publish-prod-buster-onbuild:
    executor: docker-executor
    steps:
      - push:
          comma_separated_tags: "1.10.5-buster-onbuild"
          image_name_load: ap-airflow-buster-onbuild
          image_repo: ap-airflow

workflows:
  version: 2.1
  build-images:
    jobs:
      - build-alpine
      - scan-alpine:
          requires:
            - build-alpine
      - scan-alpine-onbuild:
          requires:
            - build-alpine
      - test-alpine:
          requires:
            - build-alpine
      - test-alpine-onbuild:
          requires:
            - build-alpine
      - publish-prod-alpine:
          requires:
            - scan-alpine
            - scan-alpine-onbuild
            - test-alpine
            - test-alpine-onbuild
          filters:
            branches:
              only: master
      - publish-prod-alpine-onbuild:
          requires:
            - scan-alpine
            - scan-alpine-onbuild
            - test-alpine
            - test-alpine-onbuild
          filters:
            branches:
              only: master
      - build-buster
      - test-buster:
          requires:
            - build-buster
      - test-buster-onbuild:
          requires:
            - build-buster
      - scan-buster:
          requires:
            - build-buster
      - scan-buster-onbuild:
          requires:
            - build-buster
      - publish-prod-buster:
          requires:
            - scan-buster
            - scan-buster-onbuild
            - test-buster
            - test-buster-onbuild
          filters:
            branches:
              only: master
      - publish-prod-buster-onbuild:
          requires:
            - scan-buster
            - scan-buster-onbuild
            - test-buster
            - test-buster-onbuild
          filters:
            branches:
              only: master
orbs:
  clair-scanner: ovotech/clair-scanner@1.6.0
executors:
  docker-executor:
    environment:
      GIT_ORG: astronomerinc
    docker:
      - image: circleci/python:3
commands:
  docker-build:
    description: "Build a Docker image"
    parameters:
      dockerfile:
        type: string
        default: Dockerfile
      path:
        type: string
        default: "."
      image_name:
        type: string
        default: $CIRCLE_PROJECT_REPONAME
    steps:
      - run:
          name: Build the Docker image
          command: |
            set -xe
            image_name="<< parameters.image_name >>"
            docker build -t $image_name --file << parameters.path>>/<< parameters.dockerfile >> --build-arg BUILD_NUMBER=${CIRCLE_BUILD_NUM} << parameters.path >>
            docker save -o << parameters.image_name >>.tar $image_name
      - persist_to_workspace:
          root: .
          paths:
            - './*.tar'
  airflow-image-test:
    description: Test an Airflow image
    parameters:
      image_name:
        type: string
        default: $CIRCLE_PROJECT_REPONAME
    steps:
      - checkout
      - attach_workspace:
          at: /tmp/workspace
      - setup_remote_docker
      - run:
          name: Load archived Airflow Docker image
          command: docker load -i /tmp/workspace/<< parameters.image_name >>.tar
      - run:
          name: Set up test environment
          command: |
            set -xe
            pip install virtualenv
            virtualenv --python=python3 ./venv
            source ./venv/bin/activate
            pip install -r .circleci/test-requirements.txt
      - run:
          name: Test Airflow Docker image
          command: |
            set -xe
            source ./venv/bin/activate
            export AIRFLOW_IMAGE='<< parameters.image_name >>'
            mkdir -p test-reports
            pytest .circleci/test-airflow-image.py --junitxml=test-reports/airflow-test-<< parameters.image_name >>.xml
      - store_test_results:
          path: test-reports
      - store_artifacts:
          path: test-reports
  push:
    description: "Push a Docker image to DockerHub"
    parameters:
      comma_separated_tags:
        type: string
        default: latest
      organization:
        type: string
        default: $GIT_ORG
      image_name_load:
        type: string
        default: $CIRCLE_PROJECT_REPONAME
      image_repo:
        type: string
        default: $CIRCLE_PROJECT_REPONAME
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - setup_remote_docker
      - run:
          name: Load archived Docker image
          command: docker load -i /tmp/workspace/<< parameters.image_name_load >>.tar
      - run:
          name: Login to DockerHub
          command: echo "$DOCKER_PASSWORD" | docker login --username $DOCKER_USERNAME --password-stdin
      - run:
          name: Push Docker image(s)
          command: |
            set -e
            for tag in $(echo "<< parameters.comma_separated_tags >>" | sed "s/,/ /g");
            do
              set -x
              docker tag << parameters.image_name_load >> << parameters.organization >>/<< parameters.image_repo >>:${tag}
              docker push << parameters.organization >>/<< parameters.image_repo >>:${tag}
              set +x
            done
  clair-scan:
    description: "Vulnerability scan a Docker image"
    parameters:
      image_name:
        type: string
        default: $CIRCLE_PROJECT_REPONAME
      whitelist:
        type: string
        default: cve-whitelist.yaml
    steps:
      - checkout
      - setup_remote_docker
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: Load archived Docker image
          command: docker load -i /tmp/workspace/<< parameters.image_name >>.tar
      - modified-orb:
          whitelist: "<< parameters.whitelist >>"
          image: "<< parameters.image_name >>"
  # TODO: move to an Astronomer orbs repo, publish orb.
  # This is to work around an issue in the provided orb.
  modified-orb:
    description: "Scan an image for vulnerabilities"
    parameters:
      image:
        type: "string"
        description: "Name of the image to scan"
        default: ""
      image_file:
        type: "string"
        description: "Path to a file of images to scan"
        default: ""
      whitelist:
        type: "string"
        description: "Path to a CVE whitelist"
        default: ""
      severity_threshold:
        type: "string"
        description: "The threshold (equal and above) at which discovered vulnerabilities are reported. May be 'Defcon1', 'Critical', 'High', 'Medium', 'Low', 'Negligible' or 'Unknown'"
        default: "High"
      fail_on_discovered_vulnerabilities:
        type: "boolean"
        description: "Fail command when vulnerabilities at severity equal to or above the threshold are discovered"
        default: true
      fail_on_unsupported_images:
        type: "boolean"
        description: "Fail command when image cannot be scanned for vulnerabilities"
        default: true
      disable_verbose_console_output:
        type: "boolean"
        description: "Disable verbose console output"
        default: false
      docker_tar_dir:
        type: "string"
        description: "Path of directory that Docker tarballs are stored"
        default: "/docker-tars"
    steps:
      - run:
          name: "Vulnerability scan"
          command: |
            #!/usr/bin/env bash

            set -e

            DOCKER_TAR_DIR="<< parameters.docker_tar_dir >>"

            if [ -z "<< parameters.image_file >><< parameters.image >>" ] && [ -z "$(ls -A "$DOCKER_TAR_DIR" 2>/dev/null)" ]; then
                echo "image_file or image parameters or docker tarballs must be present"
                exit 255
            fi

            REPORT_DIR=/clair-reports
            mkdir $REPORT_DIR

            DB=$(docker run -p 5432:5432 -d arminc/clair-db:latest)
            CLAIR=$(docker run -p 6060:6060 --link "$DB":postgres -d arminc/clair-local-scan:latest)
            CLAIR_SCANNER=$(docker run -v /var/run/docker.sock:/var/run/docker.sock -d ovotech/clair-scanner@sha256:8a4f920b4e7e40dbcec4a6168263d45d3385f2970ee33e5135dd0e3b75d39c75 tail -f /dev/null)

            clair_ip=$(docker exec -it "$CLAIR" hostname -i | grep -oE '[0-9]+\.[0-9]+\.[0-9]+\.[0-9]+')
            scanner_ip=$(docker exec -it "$CLAIR_SCANNER" hostname -i | grep -oE '[0-9]+\.[0-9]+\.[0-9]+\.[0-9]+')

            if [ -n "<< parameters.whitelist >>" ]; then
                cat "<< parameters.whitelist >>"
                docker cp "<< parameters.whitelist >>" "$CLAIR_SCANNER:/whitelist.yml"

                WHITELIST="-w /whitelist.yml"
            fi

            function scan() {
                local image=$1
                # replace forward-slashes and colons with underscores
                munged_image=$(echo "$image" | sed 's/\//_/g' | sed 's/:/_/g')
                sanitised_image_filename="${munged_image}.json"
                local ret=0
                local docker_cmd=(docker exec -it "$CLAIR_SCANNER" clair-scanner \
                    --ip "$scanner_ip" \
                    --clair=http://"$clair_ip":6060 \
                    -t "<< parameters.severity_threshold >>" \
                    --report "/$sanitised_image_filename" \
                    --log "/log.json" ${WHITELIST:+"-x"}
                    --reportAll=true \
                    --exit-when-no-features=false \
                    "$image")

                # if verbose output is disabled, analyse status code for more fine-grained output
                if [ "<< parameters.disable_verbose_console_output >>" == "true" ];then
                    "${docker_cmd[@]}" > /dev/null 2>&1 || ret=$?
                else
                    "${docker_cmd[@]}" 2>&1 || ret=$?
                fi
                if [ $ret -eq 0 ]; then
                    echo "No unapproved vulnerabilities"
                elif [ $ret -eq 1 ]; then
                    echo "Unapproved vulnerabilities found"
                    if [ "<< parameters.fail_on_discovered_vulnerabilities >>" == "true" ];then
                        EXIT_STATUS=1
                    fi
                elif [ $ret -eq 5 ]; then
                    echo "Image was not scanned, not supported."
                    if [ "<< parameters.fail_on_unsupported_images >>" == "true" ];then
                        EXIT_STATUS=1
                    fi
                else
                    echo "Unknown clair-scanner return code $ret."
                    EXIT_STATUS=1
                fi

                docker cp "$CLAIR_SCANNER:/$sanitised_image_filename" "$REPORT_DIR/$sanitised_image_filename" || true
            }

            EXIT_STATUS=0

            for entry in "$DOCKER_TAR_DIR"/*.tar; do
                [ -e "$entry" ] || continue
                images=$(docker load -i "$entry" | sed -e 's/Loaded image: //g')
                for image in $images; do
                    scan "$image"
                done
            done

            if [ -n "<< parameters.image_file >>" ]; then
                images=$(cat "<< parameters.image_file >>")
                for image in $images; do
                    docker pull "$image"
                    scan "$image"
                done
            fi
            if [ -n "<< parameters.image >>" ]; then
                image="<< parameters.image >>"
                docker pull "$image"
                scan "$image"
            fi

            exit $EXIT_STATUS
      - store_artifacts:
          path: /clair-reports
