{
    "blocks": [
        {
            "type": "header",
            "text": {
                "type": "plain_text",
                "text": ":tada:    *New Astronomer Certified Build*    :tada:",
                "emoji": true
            }
        },
        {
            "type": "section",
            "text": {
                "type": "mrkdwn",
                "text": "Version {{ ac_version }} Release Awaiting Approval"
            },
            "accessory": {
                "type": "image",
                "image_url": "https://i.imgur.com/NMUmkxH.png",
                "alt_text": "Astronomer.io logo, white background, dark blue letter A, multicolored stars, and a rocket with red to yellow exhaust orbiting the letter A"
            }
        },
        {
            "type": "divider"
        },
        {
            "type": "section",
            "fields": [
                {
                    "type": "mrkdwn",
                    "text": "*Project*:\n    <https://app.circleci.com/pipelines/github/$CIRCLE_PROJECT_USERNAME/$CIRCLE_PROJECT_REPONAME?branch=$CIRCLE_BRANCH&filter=all|$CIRCLE_PROJECT_REPONAME :circleci:>"
                },
                {
                    "type": "mrkdwn",
                    "text": "*Branch*:\n    <https://github.com/$CIRCLE_PROJECT_USERNAME/$CIRCLE_PROJECT_REPONAME/tree/$CIRCLE_BRANCH|`$CIRCLE_BRANCH`>"
                },
                {
                    "type": "mrkdwn",
                    "text": "*Author*:\n    $CIRCLE_USERNAME"
                },
                {
                    "type": "mrkdwn",
                    "text": "*Git SHA*:\n    <https://github.com/$CIRCLE_PROJECT_USERNAME/$CIRCLE_PROJECT_REPONAME/commit/$CIRCLE_SHA1|`${CIRCLE_SHA1:0:7}`>"
                }
            ]
        },
        {
            "type": "context",
            "elements": [
                {
                    "type": "image",
                    "image_url": "https://api.slack.com/img/blocks/bkb_template_images/notificationsWarningIcon.png",
                    "alt_text": "notifications warning icon"
                },
                {
                    "type": "mrkdwn",
                    "text": "*Edge (main) builds and dev builds bypass approval*"
                }
            ]
        },
        {
            "type": "divider"
        },
        {
            "type": "section",
            "fields": [
                {
                    "type": "mrkdwn",
                    "text": "Allowed Approvers:\n{{ approvers_slack_syntax }}"
                }
            ],
            "accessory": {
                "type": "button",
                "style": "primary",
                "text": {
                    "emoji": true,
                    "type": "plain_text",
                    "text": "Approve on CircleCI :arrow_upper_right:"
                },
                "url": "https://app.circleci.com/pipelines/workflows/${CIRCLE_WORKFLOW_ID}",
                "action_id": "button-action"
            }
        }
    ]
}
