{
    "blocks": [
        {
            "type": "header",
            "text": {
                "type": "plain_text",
                "text": ":drum_with_drumsticks::cloud::drum_with_drumsticks:    Smoke Tests Started    :drum_with_drumsticks::cloud::drum_with_drumsticks:",
                "emoji": true
            }
        },
        {
            "type": "section",
            "fields": [
                {
                    "type": "mrkdwn",
                    "text": "*Airflow Version*:\n    << parameters.airflow_version >>"
                },
                {
                    "type": "mrkdwn",
                    "text": "*Image Tag*:\n    `<< parameters.image_tag >>`"
                },
                {
                    "type": "mrkdwn",
                    "text": "*Branch*:\n    <https://github.com/astronomer/qa-airflow-run-on-software|<< parameters.qa_repo_default_branch >> >"
                },
                {
                    "type": "mrkdwn",
                    "text": "*Image Registry*:\n    <https://quay.io/repository/astronomer/ap-airflow-dev?tag=latest&tab=tags|ap-airflow-dev>"
                }
            ]
        },
        {
            "type": "section",
            "fields": [
                {
                    "type": "mrkdwn",
                    "text": "\n"
                }
            ],
            "accessory": {
                "type": "button",
                "style": "primary",
                "text": {
                    "emoji": true,
                    "type": "plain_text",
                    "text": "Follow on CircleCI :arrow_upper_right:"
                },
                "url": "<< parameters.qa_circleci_project >>",
                "action_id": "button-action"
            }
        }
    ]
}
